.logo {
  height: 15rem;
  width: 21rem;
}

.listItem {
  margin-bottom: 2rem;
  background-color: whitesmoke;
  border: 0;
}

.icon {
  height: 3rem;
  width: 3rem;
  color: #4c5874;
  padding-right: 0.5rem;
}

.cardBoxOverlay {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3), 0px 10px 15px rgba(0, 0, 0, 0.1);
  opacity: 0.7;
}
