.logo {
  height: 15rem;
  width: 21rem;
}

.main-blue-bg {
  background-color: #1c2850;
}

.icon {
  height: 3rem;
  color: #4c5874;
}

/* Mobile */
.mobileLogo {
  margin-top: 1rem;
  height: 10rem;
  width: 15rem;
}
